<!DOCTYPE html>
<html>
<head>
  <title>Kenshohin Blog</title>
  <!-- Include the application stylesheet and JavaScript -->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <!-- Prevent cross-site request forgery(CSRF), a type of malicious web attack -->
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
  <% end %>

  <% if logged_in? %>
    <%= link_to "Log out", logout_path, method: "delete" %>
    <%= link_to "Write", write_path, method: "get" %>
  <% end %>

  <h1>
    Blog!
  </h1>
  <%= yield %>

  <%= debug(params) if Rails.env.development? %>
</div>
</body>
</html>
